/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    background-color: #90979f;
    padding: 20px 30px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media (min-width: 767px) {
        flex-flow: row;
        justify-content: space-between;
    }

    .link-politica-privacidade {
        font-family: $Montserrat-Light;
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        margin-bottom: 10px;

        @media (min-width: 767px) {
            margin-bottom: 0;
        }
    }

    .links-sociais {
        display: flex;

        a {
            display: block;
            font-size: 0;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        .lnk-face {
            background-image: url(../images/icons/ico-face.png);
        }

        .lnk-twitter {
            background-image: url(../images/icons/ico-twitter.png);
        }

        .lnk-insta {
            background-image: url(../images/icons/ico-insta.png);
        }
    }
}
