/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/

.navbar{
	height: 92px;
	background-color: $cor-header;
	border-radius: 20px 20px 0px 0px;
}
.logo{
	width: 127px;
	margin-right: 80px;
}
.nav-item{
	margin-right: 10px;
	&:last-child{
		margin-right: 0;
	}
}
.nav-link{
	font-size: 14px;
	&:hover{
		color: $cor-texto-destaque;
	}
}
.nav-link.pagina-ativa{
	color: $cor-texto-white;
}
.icon-header{
	width:16px;
	height: 16px;
	margin-left: 10px;
	cursor: pointer;
	&:nth-child(1){
		background-image: url('#{$image-path}icon-pesquisa.png');
		background-size: cover;
	},
	&:nth-child(2){
		background-image: url('#{$image-path}icon-user.png');
		background-size: cover;
	},
	&:nth-child(3){
		background-image: url('#{$image-path}icon-bag.png');
		background-size: cover;
	}
}
