/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/

.menu{
	@media screen and (min-width: 992px){
		border-radius: 20px 20px 0px 0px;
	}
	background-color: $cor-header;
}
.abre-menu{

    display: none;
    cursor: pointer;
    z-index: 11;
    width: 36px;
    cursor: pointer;
    outline: none;
	@media screen and (max-width: 992px){
		display: block;
	}
}
.abre-menu .barra-menu{
    height: 4px;
    width: 100%;
    margin: 8px auto;
    display: block;
	cursor: pointer;
    background-color: $cor-texto-destaque;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.logo{
	width: 127px;
	margin-right: 80px;
}
.nav-item{
	margin-right: 10px;
	&:last-child{
		margin-right: 0;
	}
}
.nav-link{
	font-size: 14px;
	&:hover{
		color: $cor-texto-destaque;
	}
}
.nav-link.pagina-ativa{
	color: $cor-texto-white;
}
.icon-header{
	width:16px;
	height: 16px;
	margin-left: 10px;
	cursor: pointer;
	&:nth-child(1){
		background-image: url('#{$image-path}icon-pesquisa.png');
		background-size: cover;
	}
	&:nth-child(2){
		background-image: url('#{$image-path}icon-user.png');
		background-size: cover;
	}
	&:nth-child(3){
		background-image: url('#{$image-path}icon-bag.png');
		background-size: cover;
	}
}
