.ilhas-lago-bg{
    background:#4eb79a;
}

.ilhas-lago-clr {
    color: #4eb79a !important;
}






/* Apartamentos */
.icon-suite-luxo-1-il {
    background-image: url(../images/icons/icons-il/pne_IL.svg);
}

.icon-suite-luxo-2-il {
    background-image: url(../images/icons/icons-il/ar_condicionado_IL.svg);
}

.icon-cozinha-americana-il {
    background-image: url(../images/icons/icons-il/tv2_IL.svg);
}

.icon-varanda-il {
    background-image: url(../images/icons/icons-il/wifi_IL.svg);
}

/* Gastronomia */

.icon-fogao-il {
    background-image: url(../images/icons/icons-il/restaurante_IL.svg);
}

.icon-smart-tv-cabo-il {
    background-image: url(../images/icons/icons-il/snack_bar_IL.svg);
}

.icon-ar-il {
    background-image: url(../images/icons/icons-il/bar_piscina_IL.svg);
}

/* Diversão */

.icon-wifi-il {
    background-image: url(../images/icons/icons-il/piscina_infantil_IL.svg);
}
.icon-restaurante-il {
    background-image: url(../images/icons/icons-il/piscina_coberta_IL.svg);
}


.icon-bar-lobby-il {
    background-image: url(../images/icons/icons-il/termal_IL.svg);
}

.icon-praca-alimentacao-il {
    background-image: url(../images/icons/icons-il/sauna_IL.svg);
}

.icon-emporio-il {
    background-image: url(../images/icons/icons-il/ofuro_IL.svg);
}

.icon-retsurante-piscina-il {
    background-image: url(../images/icons/icons-il/academia_IL.svg);
}

/* Facilidade */

.icon-cafeteria-il {
    background-image: url(../images/icons/icons-il/concierge_IL.svg);
}
.icon-horario-il {
    background-image: url(../images/icons/icons-il/estacionamento_IL.svg);
}


