/* Apartamentos */
.icon-acomodacao-1-av {
    background-image: url(../images/icons/icons-av/pne_AV.svg);
}

.icon-arcondicionado-2-av {
    background-image: url(../images/icons/icons-av/ar_condicionado_AV.svg);
}

.icon-tvacabo-av {
    background-image: url(../images/icons/icons-av/tv2_AV.svg);
}

.icon-wifi-av {
    background-image: url(../images/icons/icons-av/wifi_AV.svg);
}

.icon-piscina-acessivel-av {
    background-image: url(../images/icons/icons-av/piscina_acessivel_AV.svg);
}

.icon-smart-tv-cabo-av {
    background-image: url(../images/icons/icons-av/tv2_AV.svg);
}


/*.icon-wifi-av {
    background-image: url(../images/icons/icons-av/wifi_AV.svg);
}
/* Gastronomia */
.icon-restaurante-av {
    background-image: url(../images/icons/icons-av/restaurante_AV.svg);
}


.icon-bar-lobby-av {
    background-image: url(../images/icons/icons-av/bar_lobby_AV.svg);
}

.icon-praca-alimentacao-av {
    background-image: url(../images/icons/icons-av/pca_alimentacao_AV.svg);
}

.icon-emporio-av {
    background-image: url(../images/icons/icons-av/pca_alimentacao_AV.svg);
}

.icon-retsurante-piscina-av {
    background-image: url(../images/icons/icons-av/restaurante_AV.svg);
}

.icon-cafeteria-av {
    background-image: url(../images/icons/icons-av/snack_bar_AV.svg);
}

.icon-bar-piscina-av {
    background-image: url(../images/icons/icons-av/bar_piscina_AV.svg);
}

.icon-horario-av {
    background-image: url(../images/icons/icons-av/);
}
/* Lazer */
.icon-recreacao-av {
    background-image: url(../images/icons/icons-av/equipe_lazer_AV.svg);
}

.icon-piscina-coberta-adulto-av {
    background-image: url(../images/icons/icons-av/piscina_adulto_AV.svg);
}
.icon-piscina-coberta-av {
    background-image: url(../images/icons/icons-av/piscina_coberta_AV.svg);
}

.icon-piscina-infantil-av {
    background-image: url(../images/icons/icons-av/piscina_infantil_AV.svg);
}

.icon-playground-av {
    background-image: url(../images/icons/icons-av/playground_AV.svg);
}

.icon-brinquedoteca-av {
    background-image: url(../images/icons/icons-av/brinquedoteca_AV.svg);
}

.icon-sala-de-jogos-av {
    background-image: url(../images/icons/icons-av/teen_AV.svg);
}


.icon-academia-av {
    background-image: url(../images/icons/icons-av/academia_AV.svg);
}

.icon-concierge-av {
    background-image: url(../images/icons/icons-av/concierge_AV.svg);
}

.icon-jacuzzi-av {
    background-image: url(../images/icons/icons-av/piscina_infantil_AV.svg);
}

.icon-spa-av {
    background-image: url(../images/icons/icons-av/spa_AV.svg);
}

.icon-sauna-av {
    background-image: url(../images/icons/icons-av/sauna_AV.svg);
}

.icon-ofuro-av {
    background-image: url(../images/icons/icons-av/ofuro_AV.svg);
}
/* Facilidades */
.icon-transporte-av {
    background-image: url(../images/icons/icons-av/);
}

.icon-recepcao-av {
    background-image: url(../images/icons/icons-av/concierge_AV.svg);
}

.icon-volatagem-220-av {
    background-image: url(../images/icons/icons-av/220V_AV.svg);
}

.icon-estacionamento-av {
    background-image: url(../images/icons/icons-av/estacionamento_AV.svg);
}
