.olimpia-park-bg {
    background-color: #eb5c29;
}

.olimpia-park-clr {
    color: #eb5c29 !important;
}



/* Apartamentos */
.icon-suite-luxo-1-op {
    background-image: url(../images/icons/icons-op/v2/varanda_OP.svg);
}

.icon-suite-luxo-2-op {
    background-image: url(../images/icons/icons-op/v2/ar_condicionado_OP.svg);
}

.icon-cozinha-americana-op {
    background-image: url(../images/icons/icons-op/v2/tv_OP.svg);
}

.icon-varanda-op {
    background-image: url(../images/icons/icons-op/v2/luxo_i_OP.svg);
}
.icon-fogao-op {
    background-image: url(../images/icons/icons-op/v2/luxo_ii_OP.svg);
}
.icon-superior-op {
    background-image: url(../images/icons/icons-op/v2/superior_OP.svg);
}
/* Gastronomia */

.icon-fogaos-op {
    background-image: url(../images/icons/icons-op/v2/restaurante_OP.svg);
}
.icon-alimentacasso-op {
    background-image: url(../images/icons/icons-op/v2/pca_alimentacao_OP.svg);
}
.icon-smart-tv-cabo-op {
    background-image: url(../images/icons/icons-op/v2/bar_piscina_OP.svg);
}


.icon-brinquedoteca-op {
    background-image: url(../images/icons/icons-op/v2/brinquedoteca_OP.svg);
}
.icon-teen-op {
    background-image: url(../images/icons/icons-op/v2/teen_OP.svg);
}
.icon-jogos-op {
    background-image: url(../images/icons/icons-op/v2/jogos_OP.svg);
}
.icon-cinema-op {
    background-image: url(../images/icons/icons-op/v2/cinema_OP.svg);
}
.icon-academia-op {
    background-image: url(../images/icons/icons-op/v2/academia_OP.svg);
}
.icon-jacuzzi-op {
    background-image: url(../images/icons/icons-op/v2/jacuzzi_OP.svg);
}


.icon-malas-op {
    background-image: url(../images/icons/icons-op/v2/bagagem_OP.svg);
}
.icon-pne-op {
    background-image: url(../images/icons/icons-op/v2/pne_OP.svg);
}
.icon-estacionamento-op {
    background-image: url(../images/icons/icons-op/v2/estacionamento_OP.svg);
}
.icon-volts-op {
    background-image: url(../images/icons/icons-op/v2/220V_OP.svg);
}
.icon-toalhas-op {
    background-image: url(../images/icons/icons-op/v2/toalha_OP.svg);
}
.icon-carrinho-op {
    background-image: url(../images/icons/icons-op/v2/carrinho_de_bebe_OP.svg);
}




.icon-ar-op {
    background-image: url(../images/icons/icons-op/v2/bar_lobby_OP.svg);
}
.icon-ar-op {
    background-image: url(../images/icons/icons-op/v2/bar_lobby_OP.svg);
}

/* Diversão */

.icon-wifi-op {
    background-image: url(../images/icons/icons-op/v2/piscina_infantil_OP.svg);
}
.icon-restaurante-op {
    background-image: url(../images/icons/icons-op/v2/piscina_coberta_OP.svg);
}


.icon-bar-lobby-op {
    background-image: url(../images/icons/icons-op/v2/termal_OP.svg);
}

.icon-praca-alimentacao-op {
    background-image: url(../images/icons/icons-op/v2/sauna_OP.svg);
}

.icon-emporio-op {
    background-image: url(../images/icons/icons-op/v2/ofuro_OP.svg);
}

.icon-retsurante-piscina-op {
    background-image: url(../images/icons/icons-op/v2/academia_OP.svg);
}

/* Facilidade */

.icon-cafeteria-op {
    background-image: url(../images/icons/icons-op/v2/concierge_OP.svg);
}
.icon-horario-op {
    background-image: url(../images/icons/icons-op/v2/estacionamento_OP.svg);
}

