.sec-quem-somos {
    background-color: #213040;
    padding: 130px 0 75px 0;

    @media (min-width: 767px) {
       
    }

    .tit-section-df {
        color: #fefefe;
        margin: 0 auto 25px;
        font-size: 32px;

        @media (max-width: 767px) {
            font-size: 28px;
            text-align: center;
        }

        .icon-logo-clr {
            @media (max-width: 475px) {
                display: none;
            }
        }
    }

    .container-quem-somos {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .dec-lft {

            @media (min-width: 1200px) {
                width: 706px;
                background: url(../images/decorativas/bg-1.png) no-repeat right center;
                background-size: cover;
            }
        }

        .dec-rght {

            @media (min-width: 1200px) {
                width: 340px;
                opacity: 0.8;
                background-color: #375260;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }
    }

    .cont-central-quem-somos {
        padding: 0 30px;
        max-width: 900px;
        position: relative;

        @media (max-width: 767px) {
            text-align: center;
        }

        @media (min-width: 1024px) {
            min-width: 768px;
        }

        .img-mob {
            background: url(../images/decorativas/bg-1.png) no-repeat center center;
            height: 180px;
            background-size: cover;
            position: absolute;
            top: 60px;
            width: 100%;
            left: 0;

            @media (min-width: 767px) {
                display: none;
            }
        }

        .sub-text {
            font-family: $Montserrat-ExtraBold;
            color: #eb5c29;
            display: block;
            font-size: 20px;
            margin-bottom: 20px;

            @media (max-width: 767px) {
                margin-top: 230px;
            }

            @media (max-width: 767px) {
                text-align: center;
            }
        }


        p {
            font-family: $Montserrat-Medium;
            color: #fff;
            font-size: 14px;
            margin-bottom: 15px;
            line-height: 20pt;

            span {
                font-family: $Montserrat-Bold;
                color: #eb5c29;
                font-size: 18px;
            }

            strong {
                font-family: $Montserrat-Bold;
            }
        }

        .links-sociais {
            display: flex;

            @media (max-width: 767px) {
                justify-content: center;
            }

            a {
                width: 32px;
                height: 32px;
                font-size: 0;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 10px;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }
            }

            .lnk-facebook {
                background-image: url(../images/icons/links-sociais-med-face.png);
            }

            .lnk-twitter {
                background-image: url(../images/icons/links-sociais-med-twitter.png);
            }

            .lnk-insta {
                background-image: url(../images/icons/links-sociais-med-insta.png);
            }
        }
    }
}
