.sec-banners {
    position: relative;
    height: 320px;

    @media (min-width: 425px) {
        height: 400px;
    }

    @media (min-width: 767px) {
        height: 630px;
    }


    .tit-sec-banners {
        color: #fff;
        font-family: $Montserrat-Light;
        font-size: 25px;
        margin-bottom: 25px;

        strong {
            font-family: $Montserrat-Bold;
        }
    }

    .banners-home {


        .banner-1 {
            background-image: url(../images/banners/1.jpg);
        }
        /*.banner-2 {
            background-image: url(../images/banners/banner-desktop-1.jpg);
        }*/
        .banner-box {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 70px;
            height: 320px;

            @media (max-width: 767px) {
                padding-bottom: 15px;
            }


            @media (min-width: 767px) {
                height: 630px;
            }

            @media (min-width: 425px) {
                height: 400px;
            }


            @media (min-width: 767px) {
                height: 630px;
            }

            .txt-banner {
                font-family: $Montserrat-Medium;
                color: #fff;
                font-size: 44px;
                text-align: center;

                @media (max-width: 767px) {
                    font-size: 22px;
                }

                .icon-banner {
                    background: url(../images/logos/logo-s-bco.svg) no-repeat center;
                    width: 70px;
                    height: 70px;
                    display: block;
                    margin: 0 auto;
                    background-size: contain;

                    @media (max-width: 767px) {
                        width: 40px;
                        height: 40px;
                    }
                }

                strong {
                    font-family: $Montserrat-Bold;
                }
            }
        }
    }
}
