.sec-portal-agente {
    background-color: #e8eaec;
    padding: 100px 0 75px 0;


    @media (min-width: 767px) {       
    }

    .tit-section-df {
        color: #515054;
        margin: 0 auto 25px;
        font-size: 32px;

        @media (max-width: 767px) {
            font-size: 28px;
            text-align: center;
        }

        .icon-logo-clr {
            @media (max-width: 475px) {
                display: none;
            }
        }
    }

    .container-portal-agente {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        min-height: 420px;


        .dec-lft {
            @media (min-width: 768px) {
                width: 400px;
                background: url(../images/decorativas/bg-2.png) no-repeat right center;
                background-size: cover;
            }

            @media (min-width: 1024px) {
                width: 650px;
            }
        }

        .dec-rght {
            @media (min-width: 768px) {
                width: 200px;
                opacity: 0.8;
                background-color: #fff;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            @media (min-width: 1024px) {
                width: 320px;
            }
        }
    }


    .cont-central-portal-agente {
        padding: 0 30px;
        max-width: 470px;

        @media (max-width: 768px) {
            text-align: center;
        }

        @media (min-width: 768px) {
            min-width: 420px;
        }

        .img-mob {
            background: url(../images/decorativas/bg-2.png) no-repeat center center;
            height: 180px;
            background-size: cover;
            position: absolute;
            top: 160px;
            width: 100%;
            left: 0;

            @media (min-width: 767px) {
                display: none;
            }
        }

        .sub-tit-section-df {
            color: #515054;
            font-size: 20px;
            font-family: $Montserrat-Bold;
            line-height: 20pt;
            margin-bottom: 15px;
            width: 80%;

            @media (max-width: 768px) {
                width: 100%;
            }

            @media (max-width: 767px) {
                margin-top: 225px;
            }
        }

        .txt-portal-agente {
            font-family: $Montserrat-Medium;
            font-size: 15px;
            line-height: 17pt;
            width: 80%;

            @media (max-width: 768px) {
                width: 100%;
            }


            strong {
                display: block;
            }
        }

        .sup-btns {
            margin-top: 25px;
            max-width: 330px;
            margin: 25px auto 0;

            @media (min-width: 767px) {
                display: flex;
                justify-content: space-between;
            }

            .btn-success, .btn-primary {
                font-size: 14px;
                cursor: pointer;

                @media (max-width: 767px) {
                    display: block;

                    &:first-child {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
