<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Scuf Gaming</title>

		<link rel="stylesheet" href="../Vendor/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../Content/assets/css/style.css">
		<link rel="stylesheet" href="../Vendor/slick/slick.css">
		<script src="../Vendor/jquery/jquery-3.4.1.js" charset="utf-8"></script>
	</head>
	<body>

		<!-- MENU -->
		<div class="pai">

			<div class="container menu">
				<nav class="navbar navbar-expand-lg py-2">
					<img src="../Content/assets/images/logo.png" class="img-fluid logo ml-md-4" alt="">
					<div class="abre-menu" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="abre-menu">
			            <span class="barra-menu barra-1"></span>
			            <span class="barra-menu barra-2"></span>
			            <span class="barra-menu barra-3"></span>
			        </div>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link pagina-ativa" href="#">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Playstation ></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Xbox ></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Store ></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Sports ></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Support</a>
							</li>
						</ul>
						<div class="list-inline">
							<span class="icon-header list-inline-item"></span>
							<span class="icon-header list-inline-item"></span>
							<span class="icon-header list-inline-item mr-5"></span>
						</div>
					</div>
				</nav>
			</div>
			<!-- FIM MENU -->

			<!-- CONTEUDO -->
			<div class="container conteudo">
				<div class="row">
					<div class="col-md-5 py-md-4">
						<article class="hero ml-md-5 mt-3  mt-md-5">
							<h1 class="text-bold font-100 text-white"><span class="text-rose">90% OFF</span> PROS <br class="d-none d-md-block">USE SCUF</h1>
							<p>Our custom competitive controllers for PS4 and PC empower players to control their experience with remappable paddles, interchangeable thumbsticks, adjustable triggers, and much more!</p>
							<a href="#" class="btn btn-rose" type="submit">Customise</a>
						</article>

						<figure>
							<!-- SLIDE CONTROLES -->
							<ul class="list-inline my-5 slide-controles">
							  	<li class="list-inline-item"><img src="../Content/assets/images/controle-1.png" class="img-fluid controles-slider" alt=""></li>
							  	<li class="list-inline-item"><img src="../Content/assets/images/controle-2.png" class="img-fluid controles-slider" alt=""></li>
								<li class="list-inline-item"><img src="../Content/assets/images/controle-3.png" class="img-fluid controles-slider" alt=""></li>
								<li class="list-inline-item"><img src="../Content/assets/images/controle-4.png" class="img-fluid controles-slider" alt=""></li>
							</ul>
							<!-- FIM SLIDE CONTROLES -->
						</figure>
						<!-- REDES SOCIAIS -->
						<ul class="list-inline mb-5 d-flex d-md-block redes-socias">
							<li class="list-inline-item font-30">Facebook</li>
							<li class="list-inline-item font-30">Instagram</li>
							<li class="list-inline-item font-30">Twitter</li>
							<li class="list-inline-item font-30">Youtube</li>
						</ul>
						<!-- FIM REDES SOCIAIS -->
					</div>
					<div class="col-md-7 d-md-flex align-items-center bg-cinza position-relative">
						<!-- BANNER CONTROLES -->
						<div class="box-banner-controles ml-md-5"></div>
						<img src="../Content/assets/images/control-blue.png" class="img-fluid controle-grande" alt="">
						<img src="../Content/assets/images/control-white.png" class="img-fluid controle-grande" alt="">
						<!-- FIM BANNER CONTROLES -->
					</div>
				</div>
			</div>
			<!-- FIM CONTEUDO -->
		</div>


		<script src="../Vendor/bootstrap/js/bootstrap.js" charset="utf-8"></script>
		<script src="../Vendor/bootstrap/js/popper.js" charset="utf-8"></script>
		<script src="../Vendor/slick/slick.js" charset="utf-8"></script>
		<script src="../Content/assets/js/scripts.js" charset="utf-8"></script>
	</body>
</html>
