@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| Caminhos
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Width Principal
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Cores padrão
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Tamanhos
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Fontes
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Resetar css (básico)
|--------------------------------------------------------------------------
*/
/* line 6, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 30, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
:focus {
  outline: 0;
}

/* line 34, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
img {
  border: 0;
  height: auto;
  max-width: 100%;
}

/* line 40, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  outline: none;
}

/* line 50, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 58, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 63, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

/* line 68, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
input {
  line-height: normal;
}

/* line 71, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
ul {
  list-style: none;
}

/* line 75, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_reset.scss */
a {
  color: inherit;
}

/*
|--------------------------------------------------------------------------
| Fontes
|--------------------------------------------------------------------------
*/
@font-face {
  font-family: 'Nunito-Light';
  src: url("../fonts/Nunito/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url("../fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url("../fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito-Black';
  src: url("../fonts/Nunito/Nunito-Black.ttf") format("truetype");
}

/*
|--------------------------------------------------------------------------
| Geral
|--------------------------------------------------------------------------
*/
/* line 9, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
body {
  font-family: "Nunito-Regular", sans-serif;
  background: #DAE1F2;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  background-image: url(../images/bg-completo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* line 20, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.font-100 {
  font-size: 50px;
}

/* line 21, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.font-80 {
  font-size: 40px;
}

/* line 22, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.font-70 {
  font-size: 35px;
}

/* line 23, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.font-60 {
  font-size: 30px;
}

/* line 24, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.font-50 {
  font-size: 25px;
}

/* line 25, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.font-40 {
  font-size: 20px;
}

/* line 26, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.font-30 {
  font-size: 15px;
}

/* line 27, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.font-20 {
  font-size: 10px;
}

/* line 28, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.font-10 {
  font-size: 5px;
}

/* line 29, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.text-rose {
  color: #E42C47;
}

/* line 30, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.text-bold {
  font-family: "Nunito-ExtraBold";
}

@media screen and (min-width: 992px) {
  /* line 32, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
  .pai {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

/* line 44, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
.collapsing {
  transition: none !important;
}

/* line 49, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
::selection {
  background: #E42C47;
}

/* line 53, ../../../Desktop/Sites/ScufGaming/Content/assets-src/base/_base.scss */
::-moz-selection {
  background: #E42C47;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
/* line 7, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.menu {
  background-color: #161920;
}

@media screen and (min-width: 992px) {
  /* line 7, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
  .menu {
    border-radius: 20px 20px 0px 0px;
  }
}

/* line 13, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.abre-menu {
  display: none;
  cursor: pointer;
  z-index: 11;
  width: 36px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 992px) {
  /* line 13, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
  .abre-menu {
    display: block;
  }
}

/* line 25, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.abre-menu .barra-menu {
  height: 4px;
  width: 100%;
  margin: 8px auto;
  display: block;
  cursor: pointer;
  background-color: #E42C47;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 37, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.logo {
  width: 127px;
  margin-right: 80px;
}

/* line 41, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.nav-item {
  margin-right: 10px;
}

/* line 43, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.nav-item:last-child {
  margin-right: 0;
}

/* line 47, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.nav-link {
  font-size: 14px;
}

/* line 49, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.nav-link:hover {
  color: #E42C47;
}

/* line 53, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.nav-link.pagina-ativa {
  color: #FFFFFF;
}

/* line 56, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.icon-header {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
}

/* line 61, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.icon-header:nth-child(1) {
  background-image: url("../images/icon-pesquisa.png");
  background-size: cover;
}

/* line 65, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.icon-header:nth-child(2) {
  background-image: url("../images/icon-user.png");
  background-size: cover;
}

/* line 69, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/core/_header.scss */
.icon-header:nth-child(3) {
  background-image: url("../images/icon-bag.png");
  background-size: cover;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Index (Home)
|--------------------------------------------------------------------------
*/
/* line 7, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
.conteudo {
  background-color: #212530;
}

@media screen and (min-width: 992px) {
  /* line 7, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
  .conteudo {
    border-radius: 0 0 20px 20px;
  }
}

/* line 13, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
.controles-slider {
  width: 94px;
  margin: 0 auto;
}

/* line 17, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
.redes-socias {
  justify-content: space-around;
}

/* line 21, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
.bg-cinza {
  background-image: url("../images/bg-controles.png");
  background-position: left;
  background-repeat: no-repeat;
}

@media screen and (min-width: 992px) {
  /* line 21, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
  .bg-cinza {
    border-radius: 0 0 18px 0;
  }
}

/* line 29, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
.box-banner-controles {
  background-color: #E42C47;
  box-shadow: 0px 66px 95px rgba(33, 37, 48, 0.35);
  border-radius: 24px;
  width: 450px;
  height: 290px;
  display: none;
}

@media screen and (min-width: 992px) {
  /* line 29, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
  .box-banner-controles {
    transform: rotate(15deg);
    display: block;
  }
}

/* line 41, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
.controle-grande {
  display: none;
}

@media screen and (min-width: 992px) {
  /* line 41, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
  .controle-grande {
    position: absolute;
    width: 652px;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  /* line 48, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
  .controle-grande:nth-child(3) {
    transform: translate(-150px, 140px);
    animation: efeito-blue 10s linear infinite;
  }
}

@media screen and (min-width: 992px) {
  /* line 54, ../../../Desktop/Sites/ScufGaming/Content/assets-src/layout/sections/_index.scss */
  .controle-grande:nth-child(2) {
    transform: translate(-100px, 10px);
    animation: efeito-white 10s linear infinite;
  }
}

@keyframes efeito-white {
  0% {
    transform: translate(-100px, 20px);
  }
  50% {
    transform: translate(-100px, 0px);
  }
  100% {
    transform: translate(-100px, 20px);
  }
}

@keyframes efeito-blue {
  0% {
    transform: translate(-150px, 140px);
  }
  50% {
    transform: translate(-150px, 100px);
  }
  100% {
    transform: translate(-150px, 140px);
  }
}

/*
|--------------------------------------------------------------------------
| Botões
|--------------------------------------------------------------------------
*/
/* line 7, ../../../Desktop/Sites/ScufGaming/Content/assets-src/modules/_buttons.scss */
.btn-rose, .btn-success, .btn-secondary {
  font-family: "Nunito-Regular";
  font-size: 15px;
  font-weight: 800;
  color: #FFFFFF;
  padding: 10px 40px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}

/* line 19, ../../../Desktop/Sites/ScufGaming/Content/assets-src/modules/_buttons.scss */
.btn-rose {
  background-color: #E42C47;
}

/* line 22, ../../../Desktop/Sites/ScufGaming/Content/assets-src/modules/_buttons.scss */
.btn-rose:hover {
  color: #FFFFFF;
  background-color: #c41932;
}

/* line 26, ../../../Desktop/Sites/ScufGaming/Content/assets-src/modules/_buttons.scss */
.btn-rose:focus {
  color: #FFFFFF;
  box-shadow: 0 0 0 3px rgba(228, 44, 71, 0.25);
  background-color: #c41932;
}

/* line 33, ../../../Desktop/Sites/ScufGaming/Content/assets-src/modules/_buttons.scss */
.btn-success {
  background-color: #4eb79a;
}

/* line 37, ../../../Desktop/Sites/ScufGaming/Content/assets-src/modules/_buttons.scss */
.btn-secondary {
  background-color: #c83b1d;
}

/*
|--------------------------------------------------------------------------
| Formulários
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Tabelas
|--------------------------------------------------------------------------
*/

/*# sourceMappingURL=style.css.map */