/*
|--------------------------------------------------------------------------
| Geral
|--------------------------------------------------------------------------
*/

@charset 'utf-8';

body {
    font-family: $Nunito-Regular, sans-serif;
    background: $cor-secundaria;
    color: $cor-texto-padrao;
    font-size: 16px;
}

.overflow-h {
    overflow: hidden;
}

::selection {
    background: $cor-texto-destaque;
}

::-moz-selection {
    background: $cor-texto-destaque;
}
