/*
|--------------------------------------------------------------------------
| Caminhos
|--------------------------------------------------------------------------
*/

$image-path: '../images/'; // Caminho das imagens
$font-path: '../fonts/'; // Caminho das fontes
/*
|--------------------------------------------------------------------------
| Width Principal
|--------------------------------------------------------------------------
*/

//$main-width: 1200px; // Tamanho do Container
/*
|--------------------------------------------------------------------------
| Cores padrão
|--------------------------------------------------------------------------
*/

$cor-texto-destaque: #E42C47;
$cor-texto-white: #FFFFFF;
$cor-texto-padrao: rgba(255, 255, 255, 0.5);
$cor-primaria: #212530;
$cor-secundaria: #DAE1F2;
$cor-header: #161920;
/*
|--------------------------------------------------------------------------
| Fontes
|--------------------------------------------------------------------------
*/



$Nunito-Light: 'Nunito-Light';
$Nunito-Regular: 'Nunito-Regular';
$Nunito-SemiBold: 'Nunito-SemiBold';
$Nunito-Bold: 'Nunito-Bold';
$Nunito-ExtraBold: 'Nunito-ExtraBold';
$Nunito-Black: 'Nunito-Black';

$title-font: $Nunito-Regular;
