/*
|--------------------------------------------------------------------------
| Caminhos
|--------------------------------------------------------------------------
*/

$image-path: '../images/'; // Caminho das imagens
$font-path: '../fonts/'; // Caminho das fontes
/*
|--------------------------------------------------------------------------
| Width Principal
|--------------------------------------------------------------------------
*/

//$main-width: 1200px; // Tamanho do Container
/*
|--------------------------------------------------------------------------
| Cores padrão
|--------------------------------------------------------------------------
*/

$cor-texto-destaque: #E42C47;
$cor-texto-white: #FFFFFF;
$cor-texto-padrao: rgba(255, 255, 255, 0.5);
$cor-primaria: #212530;
$cor-secundaria: #DAE1F2;
$cor-header: #161920;

/*
|--------------------------------------------------------------------------
| Tamanhos
|--------------------------------------------------------------------------
*/
$fonte-maior: 50px;
$font-80: $fonte-maior * 0.8;
$font-70: $fonte-maior * 0.7;
$font-60: $fonte-maior * 0.6;
$font-50: $fonte-maior * 0.5;
$font-40: $fonte-maior * 0.4;
$font-30: $fonte-maior * 0.3;
$font-20: $fonte-maior * 0.2;
$font-10: $fonte-maior * 0.1;




/*
|--------------------------------------------------------------------------
| Fontes
|--------------------------------------------------------------------------
*/
$Nunito-Light: 'Nunito-Light';
$Nunito-Regular: 'Nunito-Regular';
$Nunito-SemiBold: 'Nunito-SemiBold';
$Nunito-Bold: 'Nunito-Bold';
$Nunito-ExtraBold: 'Nunito-ExtraBold';
$Nunito-Black: 'Nunito-Black';

$title-font: $Nunito-Regular;
