/*
|--------------------------------------------------------------------------
| Fontes
|--------------------------------------------------------------------------
*/

@font-face {
  font-family: 'Montserrat-Light';
  src: url('#{$font-path}Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('#{$font-path}Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('#{$font-path}Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('#{$font-path}Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('#{$font-path}Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('#{$font-path}Montserrat/Montserrat-Black.ttf') format('truetype');
}