/*
|--------------------------------------------------------------------------
| Fontes
|--------------------------------------------------------------------------
*/

@font-face {
  font-family: 'Nunito-Light';
  src: url('#{$font-path}Nunito/Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('#{$font-path}Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('#{$font-path}Nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('#{$font-path}Nunito/Nunito-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url('#{$font-path}Nunito/Nunito-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito-Black';
  src: url('#{$font-path}Nunito/Nunito-Black.ttf') format('truetype');
}
